body {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}
#logout a {
    margin-left: 5px;
}
#header {
    background-color: #3211ff;
    color: white;
    padding: 5px
}
#header h1 {
    text-align: center;
}
ul li {
    margin-top: 5px;
}
.error {
    color: red;
    font-style: italic;
}